.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-image: url('images/background-small.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(254, 254, 254);

}

/* Background image for extra-small screens */
@media (max-width: 479px) {
    .hero-section {
        background-image: url('images/background-extra-small.jpg');
    }
}

/* Background image for medium screens */
@media (min-width: 768px) {
    .hero-section {
        background-image: url('images/background-medium.jpg');
    }
}

/* Background image for large screens */
@media (min-width: 1024px) {
    .hero-section {
        background-image: url('images/background-large.jpg');
    }
}

/* Background image for extra-large screens */
@media (min-width: 1440px) {
    .hero-section {
        background-image: url('images/background-extra-large.jpg');
    }
}

/* Specific styles for the feature articles */
.features-section .feature:nth-of-type(1)::before,
.features-section .feature:nth-of-type(2)::before {
    content: '';
    background-image: url('images/flourish.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; 
    z-index: 1;
}

.features-section .feature:nth-of-type(1),
.features-section .feature:nth-of-type(2) {
    position: relative;
    background-color: #105f84; 
    padding: 20px;
    border-radius: 8px;
    z-index: 2; /* text is above the image */
}

.features-section ol,
.features-section ul {
    text-align: left;
}

.shop-now-btn {
    position: relative;
    z-index: 3; 
}

.shop-now-btn:hover {
    background-color: #3b3b45; 
    color: #000000; 
}

/* About section with background color */
 .about-section {
    background-color: #105f84; 
    padding: 20px;
    border-radius: 8px;
    text-align: center; 
}

/* CTA section with background color */
.cta-section {
    background-color: #3b3b45;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

